body {
  height: 100vh;
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;

  margin: 40px 80px;
}

.logo {
  max-width: 200px;
  margin-bottom: 80px;
}

.illustration {
  max-width: 600px;
}

.title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 90%;
}

.description {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-right: 30px;
}

button {
  background-color: white;
  color: hsl(257, 40%, 49%);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  padding: 10px 50px;
  cursor: pointer;
}

button:active {
  background-color: hsl(300, 69%, 71%);
  color: white;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.2);
}

footer {
  display: flex;
  flex-direction: column;
}

.icons {
  list-style: none;

  display: flex;
  justify-content: flex-end;
  margin-right: 90px;
}

li {
  margin-right: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
}

.icon:active {
  color: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: white; }


@media screen and (max-width: 375px) {
  body {
    width: 100vh;
    background-image: url("../images/bg-mobile.svg");
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 40px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    align-self: flex-start;
  }

  .illustration {
    max-width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    text-align: center;
  }

  .description {
    text-align: center;
    padding-right: 0;
    font-size: 24px;
  }

  button {
    align-self: center;
    margin-bottom: 40px;
  }

  .icons {
    margin: 0;
    align-self: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }

}